{% extends 'base.html' %}
{% block title %} Login {% endblock title %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block body %}



    <div class="container" style="margin-bottom: 100px; margin-top: 150px;">
        <form action="" method="POST">
            {{ form | crispy }}
            {% csrf_token %}
            <br>
            <button type="submit" class="btn btn-success btn-sm">Login</button>
        </form>
        <br>
        <p>Doesn't Have an account? <a style="text-decoration: none;" href="{% url 'login_app:register' %}">Create New Account</a></p>
    </div>



{% endblock %}