{% extends 'base.html' %}
{% block title %} Profile {% endblock title %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block body %}

<div class="container" style="margin-bottom: 100px; margin-top: 150px;">

	<main class="main">
		<div class="page-header text-center">
			<div class="container">
				<h1 class="page-title">My Account <br><span>{{ user.email }}</span></h1>
			</div><!-- End .container -->
		</div><!-- End .page-header -->

		<br>

		<a href="{% url 'login_app:logout' %}" class="btn btn-outline-warning border-3 rounded-pill btn-border-gap">
			<b>Logout</b>
		</a>

		<br>
		<br>

		<br>


		{% for order in all_service %}

		<div class="card">
			<div class="card-header">
				{{ order.service_package }}
			</div>
			<div class="card-body">
				<h3 class="card-title">Company Name : {{ order.company_name }}</h3>
				<h5 class="card-title">Company Location : {{ order.company_location }}</h5>
				<p class="card-text">Company Contact : {{ order.company_contact }}</p>

				<a href="#" class="btn btn-primary">More Info</a>
			</div>
		</div>

		<br>

		{% endfor %}

	</main><!-- End .main -->

</div>

{% endblock %}