{% extends 'base.html' %}
{% block title %} Sign Up {% endblock title %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block body %}


    <div class="container" style="margin-bottom: 100px; margin-top: 150px;">
      <form action="" method="POST">
        {% csrf_token %}
        {{ form | crispy }}
        <br>
        <button type="submit" class="btn btn-success btn-sm">Create Account</button>
    </form>
    <br>
    <p>Already Have an Account? <a class="text-decoration-none" href="{% url 'login_app:login' %}">Login Here</a></p>
    </div>


{% endblock %}
