
.body{
    background-color: rgb(240, 230, 218);
}
.blog{
    background-color: #edf3ff;
}


/* .blog-margin{
    margin-top: 26px !important;
} */


/* .container{
    background-color: #f2f6ff;
} */

.banner-div{
    margin-top: 4rem;
    margin-left: 2rem;
}

.banner-h5{
    margin-left: 10rem;
    margin-bottom: 4rem;
}


