{% extends 'base.html' %}
{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/form_s_corporation.css' %}">

<div class="container" style="margin-bottom: 100px; margin-top: 150px;">



    <!--
    ----------------------- -------   
        main body section start
    -------------------------------
    -->

    <!-- 
    -----------------------------------------
        text and image part section start
    -----------------------------------------
    -->
    <section class="container main-body section-gap">
        <div class="half-width half-width-text">
            <div class="text-btn">
                <h1 class="fw-bold">Form an S Corp for Free and Kickstart Your Business with BGD</h1>
                <h5 class="text-color mt-4 mb-4">Stress-free S Corp formation to save money on your taxes as your
                    business grows.
                </h5>
                <button class="btn btn-outline-warning border-5 rounded-pill btn-border-gap mb-4 business-btn"
                    type="submit"><a class="link-decoration link-color" href="#"><b class="business-btn">Start Now <i
                                class="fa-solid fa-arrow-right"></i></b></a>
                </button>
            </div>
        </div>

        <div class="half-width half-width-image">
            <img class="img-fluid w-100 rounded" src="{% static 'images/office13.jpg' %}" alt="">
        </div>
    </section>
    <!-- 
    -----------------------------------------
        text and image part section end
    -----------------------------------------
    -->



    <!-- 
    -------------------------------------------
        forming and expensive section start
    -------------------------------------------
    -->
    <section class="container text-center section-gap">
        <h1 class="fw-bold">Forming an S Corp Can Be <br> Complicated and Expensive</h1>
        <p class="my-5 size"><span><i class="fa-solid fa-bolt"></i></span></p>
        <h5 class="text-color mb-4">S Corp registration is a complex process as <br> federal and state governments
            require you to meet <br> various conditions, rules and regulations. And all it takes is one simple <br>
            mistake for your request to be rejected.</h5>
        <button class="btn btn-outline-warning border-5 rounded-pill btn-border-gap mb-4 business-btn" type="submit"><a
                class="link-decoration link-color" href="#"><b class="business-btn">Free Start Now <i
                        class="fa-solid fa-arrow-right"></i></b></a>
        </button>
    </section>
    <!-- 
    -----------------------------------------
        forming and expensive section end
    -----------------------------------------
    -->



    <!-- 
    -----------------------------------------
        text and image part section start
    -----------------------------------------
    -->
    <section class="container main-body section-gap">
        <div class="half-width image-half-width">
            <img class="img-fluid image-rounded w-100" src="{% static 'images/office12.jpg' %}" alt="">
        </div>

        <div class="half-width text-half-width">
            <div class="text-btn">
                <h1 class="fw-bold">Save Money & Time with BGD’s Free S Corp Formation</h1>
                <h5 class="text-color mt-4 mb-4"><b class="text-dark">While some providers charge $149+</b>, we don’t
                    charge a thing. Streamlined processes keep our costs down, so we can pass the savings back to you.
                    Form your S Corp with us for free and spend your valuable time and money on what really matters —
                    growing your business.</h5>

            </div>
        </div>
    </section>
    <!-- 
    -----------------------------------------
        text and image part section end
    -----------------------------------------
    -->



    <!-- 
    ------------------------------------------
        Discover the Benefits of LLC start
    ------------------------------------------
    -->
    <section class="container section-gap">
        <h1 class="fw-bold text-center">Discover the Benefits of Forming Your S Corp with BGD</h1>

        <div class="container my-5">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-5 p-4 m-2 blog-details">
                    <h4 class="text-center fw-bold steps-count d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check"></i>
                    </h4>
                    <h5>Get Your EIN Business Tax Number Fast</h5>
                    <h6 class="text-color">Included free in our Gold and Platinum formation packages; Get your EIN
                        within 1 business day.</h6>
                </div>
                <div class="col-lg-5 p-4 m-2 blog-details">
                    <h4 class="text-center fw-bold steps-count d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check"></i>
                    </h4>
                    <h5>Free S Corp Filing, Only Pay the State Fee</h5>
                    <h6 class="text-color">Get economical, personalized S Corp formation. When you’re starting a
                        business, every dollar counts.</h6>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-5 p-4 m-2 blog-details">
                    <h4 class="text-center fw-bold steps-count d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check"></i>
                    </h4>
                    <h5>Claim Your Free 1-Hour Tax Consultation
                    </h5>
                    <h6 class="text-color">Talk to a business tax expert for free with our Gold and Platinum formation
                        packages.</h6>
                </div>
                <div class="col-lg-5 p-4 m-2 blog-details">
                    <h4 class="text-center fw-bold steps-count d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check"></i>
                    </h4>
                    <h5>Easily Devise Your Corporation Bylaws</h5>
                    <h6 class="text-color">No need to hire an attorney. Simply create corporation bylaws using our
                        personalized incorporation kit.</h6>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-5 p-4 m-2 blog-details">
                    <h4 class="text-center fw-bold steps-count d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check"></i>
                    </h4>
                    <h5>Prepare & File Your Articles of Incorporation</h5>
                    <h6 class="text-color">Every BGD formation package includes help drafting, preparing and filing
                        Articles of Incorporation.</h6>
                </div>
                <div class="col-lg-5 p-4 m-2 blog-details">
                    <h4 class="text-center fw-bold steps-count d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check"></i>
                    </h4>
                    <h5>Free Registered Agent for the First Year</h5>
                    <h6 class="text-color">Get access to your easy-to-use Registered Agent service free for a full year
                        ($119/annually after that).</h6>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-5 p-4 m-2 blog-details">
                    <h4 class="text-center fw-bold steps-count d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check"></i>
                    </h4>
                    <h5>Experience Entrepreneurship Made Easy</h5>
                    <h6 class="text-color">Get a business banking account, domain name and email fast with the Platinum
                        package.</h6>
                </div>
                <div class="col-lg-5 p-4 m-2 blog-details">
                    <h4 class="text-center fw-bold steps-count d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check"></i>
                    </h4>
                    <h5>No Hidden Fees, No Contracts, Ever</h5>
                    <h6 class="text-color">Nobody gives you more for less. Get unprecedented value for your money and
                        the best user experience.</h6>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-5 p-4 m-2 blog-details">
                    <h4 class="text-center fw-bold steps-count d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check"></i>
                    </h4>
                    <h5>Grow Your Business with Tailored Services</h5>
                    <h6 class="text-color">Choose any additional S Corp services from within your business dashboard if
                        and when you need them.</h6>
                </div>
                <div class="col-lg-5 p-4 m-2 blog-details">
                    <h4 class="text-center fw-bold steps-count d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check"></i>
                    </h4>
                    <h5>24/7 Fast and Friendly Customer Service</h5>
                    <h6 class="text-color">Benefit from lifetime customer support. Talk to dedicated incorporation
                        specialists, not salespeople.</h6>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-5 p-4 m-2 blog-details">
                    <h4 class="text-center fw-bold steps-count d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check"></i>
                    </h4>
                    <h5>Stay on Top of Important Due Dates</h5>
                    <h6 class="text-color">Receive email and text notifications, order updates and free lifetime
                        compliance alerts within your dashboard.</h6>
                </div>
                <div class="col-lg-5 p-4 m-2 blog-details">
                    <h4 class="text-center fw-bold steps-count d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check"></i>
                    </h4>
                    <h5>Modern & Simple Personalized Dashboard</h5>
                    <h6 class="text-color">All your business essentials, all in one place. Access everything you need,
                        whenever you need it.</h6>
                </div>
            </div>
        </div>
    </section>
    <!-- 
    ----------------------------------------
        Discover the Benefits of LLC end
    ----------------------------------------
    -->


    <!-- 
    ---------------------------
        video section start
    ---------------------------
    -->
    <section class="container section-gap">
        <h1 class="fw-bold text-center">See What Our Clients Have to Say…</h1>
        <h4 class="text-color text-center mt-4 mb-4">“One of the things I really <br> appreciated with BGD is <br> that
            it took care of everything <br> for me.” <br><span class="text-dark"> Khadijah Suleman, Aloaye Clothing
                LLC</span></h4>
        <div class="text-center mt-5">
            <iframe class="video-section image-rounded" width="560" height="315"
                src="https://www.youtube.com/embed/QY_oQ0d2aeA" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <button
            class="d-flex justify-content-center align-items-center btn btn-outline-warning border-5 rounded-pill btn-border-gap1 mb-4 business-btn"
            type="submit"><a class="link-decoration link-color" href="#"><b class="business-btn">Start your C Corp Now
                    <i class="fa-solid fa-arrow-right"></i></b></a>
        </button>
    </section>
    <!-- 
    -------------------------
        video section end
    -------------------------
    -->



    <!-- 
    ---------------------------------------------
        Frequently Asked Question - accordion
    ---------------------------------------------
    -->
    <section class="container section-gap">
        <h1 class="fw-bold text-black text-center mb-3">Common Questions About Forming an S Corp
        </h1>
        <div class="row g-3">
            <div class="col-md-5">
                <img class="img-fluid image-rounded mt-5" src="{% static 'images/office17.jpg' %}" alt="" />
            </div>
            <div class="col-md-7">
                <!-- accordion -->
                <div class="accordion mt-5 d-grid gap-3" id="accordionExample">
                    <!-- first question -->
                    <div class="accordion-item border">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button bg-white text-dark fw-bold" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                                aria-controls="collapseOne">
                                Can I Start an S Corp for Free?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="fw-light text-dark">
                                    Yes! With our $0 S Corp formation package, you only pay the fees required by your
                                    state. BGD’s filing services are free. An S Corp owner has to receive what the IRS
                                    deems a “reasonable salary” — basically, a paycheck comparable to what other
                                    employers would pay for similar services. <br> <br> If there's additional profit in
                                    the business, you can take those as distributions, which come with a lower tax bill.
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- second question -->
                    <div class="accordion-item border">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="
                      accordion-button
                      collapsed
                      bg-white
                      text-dark
                      fw-bold
                    " type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                aria-controls="collapseTwo">
                                How Much Does Your Service Cost?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="fw-light text-dark">
                                    Since 2004 we’ve been improving and perfecting our service. Streamlined processes
                                    keep our costs down so we can pass the savings back to you. The result is a low-cost
                                    yet personalized business formation with fast and friendly service.
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- third question -->
                    <div class="accordion-item border">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="
                      accordion-button
                      collapsed
                      bg-white
                      text-dark
                      fw-bold
                    " type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                                aria-controls="collapseThree">
                                Are There Specific Rules for My State?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="fw-light text-dark">
                                    Each state has specific rules and requirements regarding Registered Agents, naming rules, business licenses, etc.

Find out more about S Corps in your state and review our business entity comparison chart to learn about liability protection, business fees and tax.
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- fourth question -->
                    <div class="accordion-item border">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="
                      accordion-button
                      collapsed
                      bg-white
                      text-dark
                      fw-bold
                    " type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                                aria-controls="collapseFour">
                                What’s My State’s Filing Fee for S Corps?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="fw-light text-dark">
                                    Filing costs to form an S Corp can vary from state to state. Use our free filing fees chart to easily compare state fees before you start your business.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 
    ---------------------
        accordion end
    ---------------------
    -->

    <!--
    ----------------------------    
        main body section end
    ----------------------------        
    -->



</div>

{% endblock %}