{% extends 'base.html' %}
{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/form_non_profit.css' %}">

<div class="container" style="margin-bottom: 100px; margin-top: 150px;">




    <!--
    ----------------------- -------   
        main body section start
    -------------------------------
    -->

    <!-- 
    -----------------------------------------
        text and image part section start
    -----------------------------------------
    -->
    <section class="container main-body section-gap">
        <div class="half-width half-width-text">
            <div class="text-btn">
                <h1 class="fw-bold">Form a Nonprofit & Help Make the World a Better Place with BGD Consultancy</h1>
                <h5 class="text-color mt-4 mb-4">Simple, stress-free and personalized nonprofit formation for people
                    driven to do good.
                </h5>
                <button class="btn btn-outline-warning border-5 rounded-pill btn-border-gap mb-4 business-btn"
                    type="submit"><a class="link-decoration link-color" href="#"><b class="business-btn">Start Now <i
                                class="fa-solid fa-arrow-right"></i></b></a>
                </button>
            </div>
        </div>

        <div class="half-width half-width-image">
            <img class="img-fluid w-100 rounded" src="{% static 'images/office15.jpg' %}" alt="">
        </div>
    </section>
    <!-- 
    -----------------------------------------
        text and image part section end
    -----------------------------------------
    -->



    <!-- 
    -------------------------------------------
        forming and expensive section start
    -------------------------------------------
    -->
    <section class="container text-center section-gap">
        <h1 class="fw-bold">Nonprofit Formation Can Be Intimidating, <br> Time Consuming and Costly</h1>
        <p class="my-5 size"><span><i class="fa-solid fa-bolt"></i></span></p>
        <h5 class="text-color mb-4">Filing for nonprofits is hard. Each nonprofit <br> will have distinct goals,
            structures and regulations that need to <br> be followed — making it difficult to get 501(c)(3) tax-exempt
            status.</h5>
        <button class="btn btn-outline-warning border-5 rounded-pill btn-border-gap mb-4 business-btn" type="submit"><a
                class="link-decoration link-color" href="#"><b class="business-btn">Free Start Now <i
                        class="fa-solid fa-arrow-right"></i></b></a>
        </button>
    </section>
    <!-- 
    -----------------------------------------
        forming and expensive section end
    -----------------------------------------
    -->



    <!-- 
    -----------------------------------------
        text and image part section start
    -----------------------------------------
    -->
    <section class="container main-body section-gap">
        <div class="half-width image-half-width">
            <img class="img-fluid image-rounded w-100" src="{% static 'images/office14.jpg' %}" alt="">
        </div>

        <div class="half-width text-half-width">
            <div class="text-btn">
                <h1 class="fw-bold">Save Time, Money & Stress with BGD’s $0 Nonprofit Formation</h1>
                <h5 class="text-color mt-4 mb-4"><b class="text-dark">Some providers charge $99+. </b> Not us. We offer
                    truly free nonprofit formation. Our streamlined processes keep costs down to save you money. Form a
                    nonprofit organization for $0 with us and free up your time to focus on what matters.</h5>

            </div>
        </div>
    </section>
    <!-- 
    -----------------------------------------
        text and image part section end
    -----------------------------------------
    -->



    <!-- 
    ------------------------------------------
        Discover the Benefits of LLC start
    ------------------------------------------
    -->
    <section class="container section-gap">
        <h1 class="fw-bold text-center">Discover the Benefits of Forming a Nonprofit with BGD</h1>

        <div class="container my-5">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-5 p-4 m-2 blog-details">
                    <h4 class="text-center fw-bold steps-count d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check"></i>
                    </h4>
                    <h5>Get Your EIN Business Tax Number Fast</h5>
                    <h6 class="text-color">Included free in our Gold and Platinum formation packages; Get your EIN
                        within 1 business day.</h6>
                </div>
                <div class="col-lg-5 p-4 m-2 blog-details">
                    <h4 class="text-center fw-bold steps-count d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check"></i>
                    </h4>
                    <h5>$0 Nonprofit Filing, Only Pay the State Fee</h5>
                    <h6 class="text-color">Low-cost, personalized business formation. Because when you’re starting a
                        business, every dollar counts.</h6>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-5 p-4 m-2 blog-details">
                    <h4 class="text-center fw-bold steps-count d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check"></i>
                    </h4>
                    <h5>Get 501(c)(3) Tax-Exempt Status Approval
                    </h5>
                    <h6 class="text-color">Every BGD formation package includes assistance drafting, preparing & filing
                        Articles of Organization.</h6>
                </div>
                <div class="col-lg-5 p-4 m-2 blog-details">
                    <h4 class="text-center fw-bold steps-count d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check"></i>
                    </h4>
                    <h5>Simply Develop Your Corporation Bylaws</h5>
                    <h6 class="text-color">No need to hire an attorney. Simply create corporation bylaws using our
                        personalized incorporation kit.</h6>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-5 p-4 m-2 blog-details">
                    <h4 class="text-center fw-bold steps-count d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check"></i>
                    </h4>
                    <h5>Prepare & File Your Articles of Incorporation</h5>
                    <h6 class="text-color">Get a Business Banking Account, domain name and business email fast with the
                        Platinum package.</h6>
                </div>
                <div class="col-lg-5 p-4 m-2 blog-details">
                    <h4 class="text-center fw-bold steps-count d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check"></i>
                    </h4>
                    <h5>Free Registered Agent for the First Year</h5>
                    <h6 class="text-color">Access your complete & easy-to-use Registered Agent service free for a full
                        year ($119/annually after that).</h6>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-5 p-4 m-2 blog-details">
                    <h4 class="text-center fw-bold steps-count d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check"></i>
                    </h4>
                    <h5>Entrepreneurship Made Easy</h5>
                    <h6 class="text-color">Get a business banking account, domain name & business email fast with the
                        Platinum package.</h6>
                </div>
                <div class="col-lg-5 p-4 m-2 blog-details">
                    <h4 class="text-center fw-bold steps-count d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check"></i>
                    </h4>
                    <h5>No Hidden Fees, No Contracts, Ever</h5>
                    <h6 class="text-color">Get the best user experience and unparalleled value for money. Nobody gives
                        you more for less.</h6>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-5 p-4 m-2 blog-details">
                    <h4 class="text-center fw-bold steps-count d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check"></i>
                    </h4>
                    <h5>Grow Your Business with Tailored Services</h5>
                    <h6 class="text-color">Get set up with additional services from within your business dashboard,
                        ready when you need them.</h6>
                </div>
                <div class="col-lg-5 p-4 m-2 blog-details">
                    <h4 class="text-center fw-bold steps-count d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check"></i>
                    </h4>
                    <h5>24/7 Fast and Friendly Customer Service</h5>
                    <h6 class="text-color">Talk to a dedicated incorporation specialist, not a salesperson and get
                        lifetime customer support.</h6>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-5 p-4 m-2 blog-details">
                    <h4 class="text-center fw-bold steps-count d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check"></i>
                    </h4>
                    <h5>Never Miss an Important Due Date</h5>
                    <h6 class="text-color">Get text and email notifications, order updates and compliance alerts from
                        inside your dashboard.</h6>
                </div>
                <div class="col-lg-5 p-4 m-2 blog-details">
                    <h4 class="text-center fw-bold steps-count d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check"></i>
                    </h4>
                    <h5>Modern & Simple Personalized Dashboard</h5>
                    <h6 class="text-color">Your business essentials all in one place. Access everything you need,
                        whenever you need it.</h6>
                </div>
            </div>
        </div>
    </section>
    <!-- 
    ----------------------------------------
        Discover the Benefits of LLC end
    ----------------------------------------
    -->


    <!-- 
    ---------------------------
        video section start
    ---------------------------
    -->
    <section class="container section-gap">
        <h1 class="fw-bold text-center">See What Our Clients Have to Say…</h1>
        <h4 class="text-color text-center mt-4 mb-4">“One of the things I really <br> appreciated with BGD is <br> that
            it took care of everything <br> for me.” <br><span class="text-dark"> Khadijah Suleman, Aloaye Clothing
                LLC</span></h4>
        <div class="text-center mt-5">
            <iframe class="video-section image-rounded" width="560" height="315"
                src="https://www.youtube.com/embed/QY_oQ0d2aeA" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <button
            class="d-flex justify-content-center align-items-center btn btn-outline-warning border-5 rounded-pill btn-border-gap1 mb-4 business-btn"
            type="submit"><a class="link-decoration link-color" href="#"><b class="business-btn">Start Now
                    <i class="fa-solid fa-arrow-right"></i></b></a>
        </button>
    </section>
    <!-- 
    -------------------------
        video section end
    -------------------------
    -->



    <!-- 
    ---------------------------------------------
        Frequently Asked Question - accordion
    ---------------------------------------------
    -->
    <section class="container section-gap">
        <h1 class="fw-bold text-black text-center mb-3">Common Questions About Forming a Nonprofit Organization
        </h1>
        <div class="row g-3">
            <div class="col-md-5">
                <img class="img-fluid image-rounded mt-5" src="{% static 'images/office18.jpg' %}" alt="" />
            </div>
            <div class="col-md-7">
                <!-- accordion -->
                <div class="accordion mt-5 d-grid gap-3" id="accordionExample">
                    <!-- first question -->
                    <div class="accordion-item border">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button bg-white text-dark fw-bold" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                                aria-controls="collapseOne">
                                Can I Form a Nonprofit For Free?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="fw-light text-dark">
                                    Yes! With our $0 Nonprofit formation package, you only pay the fees required by your
                                    state. BGD’s filing services are free. One way of starting a nonprofit without money
                                    is by using a fiscal sponsorship. <br> <br> A fiscal sponsor is an already existing
                                    501(c)(3) corporation that will take a new organization “under its wing" while the
                                    new company starts up. The sponsored organization (you) does not need to be a formal
                                    corporation. <br> <br> One way of starting a nonprofit without money is by using a
                                    fiscal sponsorship. A fiscal sponsor is an already existing 501(c)(3) corporation
                                    that will take a new organization “under its wing" while the new company starts up.
                                    The sponsored organization (you) does not need to be a formal corporation.
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- second question -->
                    <div class="accordion-item border">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="
                      accordion-button
                      collapsed
                      bg-white
                      text-dark
                      fw-bold
                    " type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                aria-controls="collapseTwo">
                                How Much Does Your Service Cost?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="fw-light text-dark">
                                    Since 2004 we’ve been improving and perfecting our service. Streamlined processes
                                    keep our costs down so we can pass the savings back to you. The result is a low-cost
                                    yet personalized business formation with fast and friendly service.
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- third question -->
                    <div class="accordion-item border">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="
                      accordion-button
                      collapsed
                      bg-white
                      text-dark
                      fw-bold
                    " type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                                aria-controls="collapseThree">
                                Which Type of Nonprofit Organization is Right for Me?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="fw-light text-dark">
                                    There are four main types of Nonprofit in the United States. Each has subtly
                                    different goals and corporate structure, but all are tax-exempt!

                                    Public Charities/501(c)(3) Organizations
                                    Charities, also known as 501(c)(3) organizations, usually provide low-cost or free
                                    services to the public utilizing funds received through donations. This can be via
                                    private donations or fundraising events specifically designed to secure funding from
                                    members or advocates. Examples of public charities include food banks and animal
                                    welfare organizations.


                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- fourth question -->
                    <div class="accordion-item border">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="
                      accordion-button
                      collapsed
                      bg-white
                      text-dark
                      fw-bold
                    " type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                                aria-controls="collapseFour">
                                Are There Specific Rules For My State?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="fw-light text-dark">
                                    Each state has specific rules for registration, registered agents, annual reporting,
                                    and other requirements. BGD will help you determine what you need to be compliant in
                                    your specific state as part of the Nonprofit formation process.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 
    ---------------------
        accordion end
    ---------------------
    -->

    <!--
    ----------------------------    
        main body section end
    ----------------------------        
    -->




</div>

{% endblock %}