{% extends 'base.html' %}
{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/form_c_corporation.css' %}">

<div class="container" style="margin-bottom: 100px; margin-top: 150px;">




    <!--
    ----------------------- -------   
        main body section start
    -------------------------------
    -->

    <!-- 
    -----------------------------------------
        text and image part section start
    -----------------------------------------
    -->
    <section class="container main-body section-gap">
        <div class="half-width half-width-text">
            <div class="text-btn">
                <h1 class="fw-bold">Form a C Corporation for Free with BGD</h1>
                <h5 class="text-color mt-4 mb-4">Stress-free, personalized C Corporation formation for businesses
                    planning to sell stock.</h5>
                <button class="btn btn-outline-warning border-5 rounded-pill btn-border-gap mb-4 business-btn"
                    type="submit"><a class="link-decoration link-color" href="#"><b class="business-btn">Start Now <i
                                class="fa-solid fa-arrow-right"></i></b></a>
                </button>
            </div>
        </div>

        <div class="half-width half-width-image">
            <img class="img-fluid w-100 rounded img-thumbnail" src="{% static 'images/office6.jpg' %}" alt="">
        </div>
    </section>
    <!-- 
    -----------------------------------------
        text and image part section end
    -----------------------------------------
    -->



    <!-- 
    -------------------------------------------
        forming and expensive section start
    -------------------------------------------
    -->
    <section class="container text-center section-gap">
        <h1 class="fw-bold">Forming a C Corporation Can Be <br> Time-Consuming and Expensive</h1>
        <p class="my-5 size"><span><i class="fa-solid fa-bolt"></i></span></p>
        <h5 class="text-color mb-4">C Corporation registration is complex. Multiple bodies, <br> including the federal
            government, require you meet different conditions. <br> There’s also state-specific rules <br> and
            regulations to adhere to. Formation is a multi step <br> process & filing errors could result in costly and
            serious consequences.</h5>
        <button class="btn btn-outline-warning border-5 rounded-pill btn-border-gap mb-4 business-btn" type="submit"><a
                class="link-decoration link-color" href="#"><b class="business-btn">Free Start Now <i
                        class="fa-solid fa-arrow-right"></i></b></a>
        </button>
    </section>
    <!-- 
    -----------------------------------------
        forming and expensive section end
    -----------------------------------------
    -->



    <!-- 
    -----------------------------------------
        text and image part section start
    -----------------------------------------
    -->
    <section class="container main-body section-gap">
        <div class="half-width image-half-width">
            <img class="img-fluid image-rounded w-100" src="{% static 'images/office11.jpg' %}" alt="">
        </div>

        <div class="half-width text-half-width">
            <div class="text-btn">
                <h1 class="fw-bold">Save Time & Minimize Costs with BGD’s $0 C Corp Formation</h1>
                <h5 class="text-color mt-4 mb-4"><b class="text-dark">While some providers charge $150+ to file a C
                        Corp,</b> streamlined processes enable us to offer truly free C Corp formation. You only pay the
                    mandatory, one time state fee. File your C Corporation with us for free and spend your valuable time
                    on other things.</h5>

            </div>
        </div>
    </section>
    <!-- 
    -----------------------------------------
        text and image part section end
    -----------------------------------------
    -->



    <!-- 
    ------------------------------------------
        Discover the Benefits of LLC start
    ------------------------------------------
    -->
    <section class="container section-gap">
        <h1 class="fw-bold text-center">Discover the Benefits of Forming a C Corp with BGD</h1>

        <div class="container my-5">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-5 p-4 m-2 blog-details">
                    <h4 class="text-center fw-bold steps-count d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check"></i>
                    </h4>
                    <h5>Get Your EIN Business Tax Number Fast</h5>
                    <h6 class="text-color">Included free in our Gold and Platinum formation packages; Get your EIN
                        within 1 business day.</h6>
                </div>
                <div class="col-lg-5 p-4 m-2 blog-details">
                    <h4 class="text-center fw-bold steps-count d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check"></i>
                    </h4>
                    <h5>Free C Corp Filing, Only Pay the State Fee</h5>
                    <h6 class="text-color">Low-cost, personalized business formation. Because when you’re starting a
                        business, every dollar counts.</h6>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-5 p-4 m-2 blog-details">
                    <h4 class="text-center fw-bold steps-count d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check"></i>
                    </h4>
                    <h5>Get Your Free 1-Hour Tax Consultation
                    </h5>
                    <h6 class="text-color">Talk to a business tax expert, included for free in our Gold and Platinum
                        formation packages.</h6>
                </div>
                <div class="col-lg-5 p-4 m-2 blog-details">
                    <h4 class="text-center fw-bold steps-count d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check"></i>
                    </h4>
                    <h5>Simply Develop Your Corporation Bylaws</h5>
                    <h6 class="text-color">No need to hire an attorney. Create your corporation bylaws using our
                        nonprofit incorporation kit.</h6>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-5 p-4 m-2 blog-details">
                    <h4 class="text-center fw-bold steps-count d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check"></i>
                    </h4>
                    <h5>Prepare and File Articles of Incorporation</h5>
                    <h6 class="text-color">Every BGD formation package includes assistance drafting, preparing & filing
                        Articles of Incorporation.</h6>
                </div>
                <div class="col-lg-5 p-4 m-2 blog-details">
                    <h4 class="text-center fw-bold steps-count d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check"></i>
                    </h4>
                    <h5>Free Registered Agent for the First Year</h5>
                    <h6 class="text-color">Access your complete & easy-to-use Registered Agent service free for a full
                        year ($119/annually after that).</h6>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-5 p-4 m-2 blog-details">
                    <h4 class="text-center fw-bold steps-count d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check"></i>
                    </h4>
                    <h5>Entrepreneurship Made Easy</h5>
                    <h6 class="text-color">Get a business banking account, domain name & business email fast with the
                        Platinum package.</h6>
                </div>
                <div class="col-lg-5 p-4 m-2 blog-details">
                    <h4 class="text-center fw-bold steps-count d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check"></i>
                    </h4>
                    <h5>No Hidden Fees, No Contracts</h5>
                    <h6 class="text-color">Get the best user experience and unparalleled value for money. Nobody gives
                        you more for less.</h6>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-5 p-4 m-2 blog-details">
                    <h4 class="text-center fw-bold steps-count d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check"></i>
                    </h4>
                    <h5>Grow Your Business with Tailored Services</h5>
                    <h6 class="text-color">Get set up with additional services from within your business dashboard,
                        ready when you need them.</h6>
                </div>
                <div class="col-lg-5 p-4 m-2 blog-details">
                    <h4 class="text-center fw-bold steps-count d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check"></i>
                    </h4>
                    <h5>24/7 Fast and Friendly Customer Service</h5>
                    <h6 class="text-color">Talk to a dedicated incorporation specialist, not a salesperson and get
                        lifetime customer support.</h6>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-5 p-4 m-2 blog-details">
                    <h4 class="text-center fw-bold steps-count d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check"></i>
                    </h4>
                    <h5>Never Miss an Important Due Date</h5>
                    <h6 class="text-color">Get text and email notifications, order updates and compliance alerts from
                        inside your dashboard.</h6>
                </div>
                <div class="col-lg-5 p-4 m-2 blog-details">
                    <h4 class="text-center fw-bold steps-count d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-check"></i>
                    </h4>
                    <h5>Modern, Simple, Personalized Dashboard</h5>
                    <h6 class="text-color">Your business essentials all in one place. Access everything you need,
                        whenever you need it.</h6>
                </div>
            </div>
        </div>
    </section>
    <!-- 
    ----------------------------------------
        Discover the Benefits of LLC end
    ----------------------------------------
    -->


    <!-- 
    ---------------------------
        video section start
    ---------------------------
    -->
    <section class="container section-gap">
        <h1 class="fw-bold text-center">See What Our Clients Have to Say…</h1>
        <h4 class="text-color text-center mt-4 mb-4">“One of the things I really <br> appreciated with BGD is <br> that
            it took care of everything <br> for me.” <br><span class="text-dark"> Khadijah Suleman, Aloaye Clothing
                LLC</span></h4>
        <div class="text-center mt-5">
            <iframe class="video-section image-rounded" width="560" height="315"
                src="https://www.youtube.com/embed/QY_oQ0d2aeA" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <button
            class="d-flex justify-content-center align-items-center btn btn-outline-warning border-5 rounded-pill btn-border-gap1 mb-4 business-btn"
            type="submit"><a class="link-decoration link-color" href="#"><b class="business-btn">Start your C Corp Now
                    <i class="fa-solid fa-arrow-right"></i></b></a>
        </button>
    </section>
    <!-- 
    -------------------------
        video section end
    -------------------------
    -->



    <!-- 
    ---------------------------------------------
        Frequently Asked Question - accordion
    ---------------------------------------------
    -->
    <section class="container section-gap">
        <h1 class="fw-bold text-black text-center mb-3">Common Questions About
            Creating a Corporation
        </h1>
        <div class="row g-3">
            <div class="col-md-5">
                <img class="img-fluid image-rounded mt-5" src="{% static 'images/office16.jpg' %}" alt="" />
            </div>
            <div class="col-md-7">
                <!-- accordion -->
                <div class="accordion mt-5 d-grid gap-3" id="accordionExample">
                    <!-- first question -->
                    <div class="accordion-item border">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button bg-white text-dark fw-bold" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                                aria-controls="collapseOne">
                                Can I Start a C Corporation For Free?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="fw-light text-dark">
                                    Yes! With our $0 C Corporation formation package, you only pay the fees required by
                                    your state. BGD’s filing services are free. What are C Corp requirements?
                                    A C corporation must keep voting records of the company's directors and a list of
                                    the owner's names and ownership percentages. <br>
                                    One of the main disadvantages of C corporation is double taxation. Unlike an S
                                    Corporation, the income is not passed directly to the owners. Instead, the income of
                                    the business is subjected to double taxation. Taxes are paid both at the corporate
                                    level and personal level.
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- second question -->
                    <div class="accordion-item border">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="
                      accordion-button
                      collapsed
                      bg-white
                      text-dark
                      fw-bold
                    " type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                aria-controls="collapseTwo">
                                How Much Does Your Service Cost?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="fw-light text-dark">
                                    Since 2004, we’ve been perfecting our service. Our tech-enabled process efficiencies
                                    mean we’re able to keep the costs down and pass this incredible value on to you. The
                                    result is low-cost, personalized business formation with fast and friendly service.
                                    The Silver Package is $0 + state fee and includes the basics needed to form your
                                    LLC.
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- third question -->
                    <div class="accordion-item border">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="
                      accordion-button
                      collapsed
                      bg-white
                      text-dark
                      fw-bold
                    " type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                                aria-controls="collapseThree">
                                Are There Specific Rules For My State?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="fw-light text-dark">
                                    Each state has specific rules and requirements regarding registered Agents, naming
                                    rules, business licenses etc. Learn more about C Corporations in your state and read
                                    our free C Corporation state guides here.
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- fourth question -->
                    <div class="accordion-item border">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="
                      accordion-button
                      collapsed
                      bg-white
                      text-dark
                      fw-bold
                    " type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                                aria-controls="collapseFour">
                                What's My State's Filing Fee for C Corporations?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="fw-light text-dark">
                                    Filing costs to form a C Corporation can vary from state to state. Use our free
                                    filing fees chart to easily compare state fees before you start your business.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 
    ---------------------
        accordion end
    ---------------------
    -->

    <!--
    ----------------------------    
        main body section end
    ----------------------------        
    -->

</div>

{% endblock %}