{% extends 'base.html' %}
{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/how_it_work.css' %}">

<div class="container" style="margin-bottom: 100px; margin-top: 150px;">



    <!--
    -------------------------------    
        main body section start
    -------------------------------        
    -->

    <!-- 
    -----------------------------------------
        text and image part section start
    -----------------------------------------
    -->
    <section class="container main-body">
        <div class="half-width text-half-width">
            <div class="text-btn">
                <h1 class="fw-bold">How It Works</h1>
                <h5 class="text-color mt-4 mb-4">LLC formation, registered agent, compliance, and startup services — all
                    in one place. Start your business today for $0 + state fee. Doing the busy work so you can build
                    your big ideas. Here's how it works...</h5>
                <button class="btn btn-outline-warning border-5 rounded-pill btn-border-gap mb-4 business-btn"
                    type="submit"><a class="link-decoration link-color" href="{% url 'bgd_consultancy_app:package' %}"><b class="business-btn">Start your
                            Business <i class="fa-solid fa-arrow-right"></i></b></a>
                </button>
            </div>
        </div>
        <div class="half-width image-half-width">
            <img class="img-fluid w-100" src="{% static 'images/office4.jpg' %}" alt="">
        </div>
    </section>

    <!-- 
    ---------------------------------------
        text and image part section end
    ---------------------------------------
    -->


    <!-- 
    ----------------------------------
        3 easy steps section start
    ----------------------------------
    -->
    <section class="section-gap">
        <h1 class="text-center fw-bold mb-5">3 Easy <span class="get-started-text-color">Steps</span></h1>
        <h4 class="text-center fw-bold steps-count d-flex justify-content-center align-items-center section-gap">1</h4>
        <section class="container mt-4 text-center easy-3-steps">
            <div class="step-1 mb-5">
                <h4 class="fw-bold">Find the Right Entity for You</h4>
                <h5 class="text-color mt-3">Select an entity type and the preferred state of incorporation. Need help
                    with
                    state-specific formation details? Check out our <a class="text-decoration-none" href="#"><span
                            class="link-color-hover">LLC State Guides</span></a> or <a class="text-decoration-none"
                        href="#"><span class="link-color-hover">Corporation State Guides.</span></a></h5>
            </div>
        </section>
        <h4 class="text-center fw-bold steps-count d-flex justify-content-center align-items-center section-gap">2</h4>
        <section class="container mt-4 text-center easy-3-steps">
            <div class="step-2 mb-5">
                <h4 class="fw-bold">Select a Package</h4>
                <h5 class="text-color mt-3">See our package options below and choose one that best suits your business
                    needs, whether you're looking for the bare basics or more robust support. No matter what formation
                    package you select, BGD Consultancy will be there to help you as your business grows.</h5>
            </div>
        </section>
        <h4 class="text-center fw-bold steps-count d-flex justify-content-center align-items-center section-gap">3</h4>
        <section class="container mt-4 text-center easy-3-steps">
            <div class="step-3 mb-5">
                <h4 class="fw-bold">Tell Us About Your Business</h4>
                <h5 class="text-color mt-3">Complete the online order forms and provide information about your business
                    and
                    the services that will best suit your business.</h5>
            </div>
        </section>
    </section>
    <!-- 
    --------------------------------
        3 easy steps section end
    --------------------------------
    -->



    <!-- 
    ---------------------------------------------
        Frequently Asked Question - accordion
    ---------------------------------------------
    -->
    <section class="container section-gap">
        <h1 class="fw-bold text-black text-center">We've Received Your Order.</h1>
        <h1 class="fw-bold text-black text-center mb-3"><span class="get-started-text-color">What's Next?</span></h1>

        <div class="row g-3">
            <div class="col-md-5">
                <img class="img-fluid w-100 mt-5" src="{% static 'images/office5.jpg' %}" alt="" />
            </div>
            <div class="col-md-7">
                <!-- accordion -->
                <div class="accordion mt-5 d-grid gap-3" id="accordionExample">
                    <!-- first question -->
                    <div class="accordion-item border">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button bg-white text-dark fw-bold" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                                aria-controls="collapseOne">
                                1. Review Order Details
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="fw-light text-dark">
                                    You get access to your own personal business dashboard. From there, you can review
                                    all of your order details to ensure everything is just as it should be.
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- second question -->
                    <div class="accordion-item border">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="
                      accordion-button
                      collapsed
                      bg-white
                      text-dark
                      fw-bold
                    " type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                aria-controls="collapseTwo">
                                2. Name Availability Search
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="fw-light text-dark">
                                    A thorough name search is conducted with the state to ensure your company name is
                                    unique to you and not already taken. If you’d like to do a search for your business
                                    name now, you can use our Business Name Search tool.
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- third question -->
                    <div class="accordion-item border">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="
                      accordion-button
                      collapsed
                      bg-white
                      text-dark
                      fw-bold
                    " type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                                aria-controls="collapseThree">
                                3. Prepare and File Documents
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="fw-light text-dark">
                                    Articles of Incorporation (Corporations) / Organization (LLCs) are prepared and
                                    delivered to the governing state agency. We got you.
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- fourth question -->
                    <div class="accordion-item border">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="
                      accordion-button
                      collapsed
                      bg-white
                      text-dark
                      fw-bold
                    " type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                                aria-controls="collapseFour">
                                4. Deliver Filed Documents in Your Custom Dashboard
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="fw-light text-dark">
                                    The filed articles along with any additional services and documents are accessible
                                    from your custom business dashboard. You’ll receive notification once they’re ready.
                                    All set!
                                    <br>
                                    <br>
                                    But wait — your business dashboard is not just a dashboard to access your
                                    incorporation documents. We’ve worked hard to leverage our technology team to build
                                    a useful, one-stop place for all your business needs.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button
            class="d-flex justify-content-center align-items-center btn btn-outline-warning border-5 rounded-pill btn-border-gap1 mb-4 business-btn"
            type="submit"><a class="link-decoration link-color" href="{% url 'bgd_consultancy_app:package' %}"><b class="business-btn">Start your
                    LLC Now <i class="fa-solid fa-arrow-right"></i></b></a>
        </button>
    </section>
    <!-- 
    ---------------------
        accordion end
    ---------------------
    -->

    <!-- 
    ----------------------------
        business steps start
    ----------------------------
    -->
    <section class="container section-gap">
        <h1 class="fw-bold text-black text-center">What next? Nurture your business</h1>
        <h5 class="text-color mt-4 mb-4 text-center">Get set up with additional business services from within your business <br> dashboard, when you need them.</h5>

        <div class="container text-center my-5">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-4 p-4 m-1 blog-details">
                    <h5><span><i class="fa-regular fa-calendar-days mx-4 fs-3"></i></span> Bookkeeping</h5>
                </div>
                <div class="col-lg-4 p-4 m-1 blog-details">
                    <h5><span><i class="fa-regular fa-rectangle-list mx-4 fs-3"></i></span> Business License</h5>
                </div>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="col-lg-4 p-4 m-1 blog-details">
                    <h5><span><i class="fa-solid fa-building-columns mx-4 fs-3"></i></span> Banking</h5>
                </div>
                <div class="col-lg-4 p-4 m-1 blog-details">
                    <h5><span><i class="fa-regular fa-newspaper mx-4 fs-3"></i></span> Domain Name</h5>
                </div>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="col-lg-4 p-4 m-1 blog-details">
                    <h5><span><i class="fa-regular fa-registered mx-4 fs-3"></i></span> Trademark</h5>
                </div>
                <div class="col-lg-4 p-4 m-1 blog-details">
                    <h5><span><i class="fa-regular fa-envelope mx-4 fs-3"></i></span> Business Email</h5>
                </div>
            </div>
        </div>
    </section>
    <!-- 
    --------------------------
        business steps end
    --------------------------
    -->

    <!--
    ----------------------------    
        main body section end
    ----------------------------        
    -->




</div>

{% endblock %}