<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Font Awasome Cdn start -->
<script src="https://kit.fontawesome.com/722963fdca.js" crossorigin="anonymous"></script>
<!-- Font Awasome Cdn end -->


{% extends 'base.html' %}
{% load static %}

{% block body %}

<link rel="stylesheet" href="{% static 'css/new_card.css' %}" />


<script>
    $(document).ready(function () {
        $("#country").change(function () {
            var country_id = $(this).val();

            $.ajax({
                url: "/get_locations/",
                data: {
                    country_id: country_id,
                },
                success: function (data) {
                    $("#location").html(data.html);
                    $("#business_plan").html(
                        '<option value=" ">Select a business plan</option>'
                    );
                    $("#value1").html("");
                    $("#value2").html("");
                    $("#value3").html("");
                },
            });
        });

        $("#location").change(function () {
            var location_id = $(this).val();

            $.ajax({
                url: "/get_business_plans/",
                data: {
                    location_id: location_id,
                },
                success: function (data) {
                    $("#business_plan").html(data.html);
                    $("#value1").html("");
                    $("#value2").html("");
                    $("#value3").html("");
                },
            });
        });

        $("#business_plan").change(function () {
            var business_plan_id = $(this).val();

            $.ajax({
                url: "/get_values/",
                data: {
                    business_plan_id: business_plan_id,
                },
                success: function (data) {
                    $("#value1").html(data.value1);
                    $("#value2").html(data.value2);
                    $("#value3").html(data.value3);
                },
            });
        });

        $("#myform").submit(function (e) {
            e.preventDefault();
            var country = $("#country").val();
            var location = $("#location").val();
            var business_plan = $("#business_plan").val();
            var value1 = $("#value1").text();
            var value2 = $("#value2").text();
            var value3 = $("#value3").text();

            $.ajax({
                url: "/save_data/",
                data: {
                    country: country,
                    location: location,
                    business_plan: business_plan,
                    value1: value1,
                    value2: value2,
                    value3: value3,
                },
                success: function (data) {
                    alert("Data saved successfully!");
                },
            });
        });
    });

    $(document).ready(function () {
        $("#business_plan").change(function () {
            console.log("hi");
            var name = $("business_plan").val();
            $(".details").show(1000, function () {
                $(".details").css("display", "flex");
            });
        });
    });
</script>


<div class="container" style="margin-bottom: 100px; margin-top: 80px;">

    <section>

        <br /><br /><br />
        <h1 class="text-center">Start your business with<br />confidence</h1>
        <br /><br />
        <br /><br />

        <div class="container">
            <div class="card">
                <div class="card-header">
                    <br /><br />
                    <h5 class="card-title text-center">
                        Select Your Country, Location and Business Plan
                    </h5>
                    <p class="text-center" style="color: rgb(243, 144, 24)">
                        Join over 800,000 happy business owners. Get started by choosing
                        your Country, Location and Business Plan formation.
                    </p>
                </div>

                <div class="card-body" style="text-align: center;">
                    <form id="myform" class="myf">
                        <div class="row">
                            <div class="form-group col-12 col-lg-4" style="border-radius: 10px;">
                                <!-- <label style="margin-left: 30px;" for="country">Country:</label> -->
                                <label for="country"></label>
                                <span class="spa">&#9660</span>
                                <select id="country" class="form-control" style="width: 300px;">
                                    <option value="">Select a country</option>
                                    {% for country in countries %}
                                    <option value="{{ country.c_name }}">
                                        {{ country.c_name }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group col-12 col-lg-4">
                                <!-- <label for="location">Location:</label> -->
                                <label for="location"></label>
                                <span class="spa">&#9660</span>
                                <select id="location" class="form-control" style="width: 300px;">
                                    <option value="">Select a location</option>
                                </select>
                            </div>

                            <div class="form-group col-12 col-lg-4">
                                <!-- <label for="business_plan">Business Plan:</label> -->
                                <label for="business_plan"></label>
                                <span class="spa">&#9660</span>
                                <select id="business_plan" class="form-control" style="width: 300px;">
                                    <option value=" ">Select a business plan</option>
                                </select>
                            </div>

                        </div>

                        <br /><br />
                    </form>
                </div>
            </div>
        </div>
        <br />

        <!-- card start here-->
        <div class="container">
            <p class="text-center" style="color: rgb(240, 144, 26)">
                <b>Location-specific pricing will display below once<br />your selection
                    has been made.</b>
            </p>
            <div class="card">
                <div class="card-header">
                    <div class="card-body">
                        <div class="row details">


                            <!----- silver card start here ------- -->
                            <div class="col-12 col-lg-4 mt-4">
                                <div class="card bg-secondary text-white res-card">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">Silver</h5>
                                        <p class="card-text text-center">
                                            Our core features for <br />the lowest price
                                        </p>
                                        <img class="card-img-top mx-auto d-block" style="width: 80px"
                                            src="{% static 'images/paper-plane.png' %}" />
                                        <div class="form-group card-text text-center">
                                            <label>$</label>
                                            <span id="value1"></span>
                                            <p class="price-desc" style="margin-bottom: 24px">
                                                One time transparent payment
                                            </p>



                                        </div>
                                        <!-- <a href="#myform" class="btn btn-light mx-5"  style=" background-color: #fd8550;">Get the package<i class="fa-solid fa-arrow-right" style="margin-left: 5px;"></i></a> -->

                                        <a href="{% url 'bgd_consultancy_app:booking' %}"
                                            class="btn btn-light package-btn" style="margin-left: 35%;">Buy
                                            package</a>
                                        <br /><br />
                                        <p style="text-align: center" ;>
                                            <strong>INCLUDES:</strong>
                                        </p>
                                        <ul class="benifits-list">
                                            <li>Preparing & Filing the Articles of Organization</li>
                                            <li>Unlimited Name Searches</li>
                                            <li>FREE Registered Agent Service</li>
                                            <li>Unlimited Phone & Email Support</li>
                                        </ul>
                                        <br /><br /><br /><br /><br /><br /><br />
                                    </div>
                                </div>
                            </div>

                            <!----- silver card end here ------- -->


                            <!----- gold card start here ------- -->
                            <div class="col-12 col-lg-4 mt-4">
                                <div class="card bg-success text-white res-card">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">Gold</h5>
                                        <p class="card-text text-center">
                                            Comprehensive features <br />to get your business started
                                        </p>
                                        <img class="card-img-top mx-auto d-block" style="width: 80px"
                                            src="{% static 'images/plane.png' %}" />
                                        <div class="form-group card-text text-center">
                                            <label>$</label>
                                            <span id="value2"></span>
                                            <p class="price-desc" style="margin-bottom: 24px">
                                                One time transparent payment
                                            </p>
                                        </div>
                                        <a href="{% url 'bgd_consultancy_app:booking' %}"
                                            class="btn btn-light package-btn" style="margin-left: 35%;">Buy
                                            package</a>
                                        <br /><br />
                                        <p style="text-align: center" ;>
                                            <strong>INCLUDES:</strong>
                                        </p>
                                        <ul class="benifits-list">
                                            <br />
                                            <li>Preparing & Filing the Articles of Organization</li>
                                            <li>FREE Registered Agent Service</li>
                                            <li>Banking Resolution</li>
                                            <li>Business Banking Account & Tax Consultation</li>
                                            <li>Lifetime Company Alerts</li>
                                            <li>unlimited Phone & Email Support</li>
                                        </ul>
                                        <br /><br /><br />
                                    </div>
                                </div>
                            </div>

                            <!-- gold card end here -->


                            <!----- Platinum card start here ------- -->
                            <div class="col-12 col-lg-4 mt-4">
                                <div class="card bg-primary text-white card-color res-card">
                                    <div class="card-body">
                                        <h4 class="card-title text-center">Platinum</h4>
                                        <p class="card-text text-center">
                                            Full service features at <br />the best value
                                        </p>
                                        <img class="card-img-top mx-auto d-block" style="width: 80px"
                                            src="{% static 'images/rocket.png' %}" />

                                        <div class="form-group card-text text-center">
                                            <label>$</label>
                                            <span id="value3"></span>
                                            <p class="price-desc" style="margin-bottom: 24px">
                                                One time transparent payment
                                            </p>
                                        </div>
                                        <a href="{% url 'bgd_consultancy_app:booking' %}"
                                            class="btn btn-light package-btn" style="margin-left: 35%;">Buy
                                            package</a>
                                        <br /><br />
                                        <p style="text-align: center" ;>
                                            <strong>INCLUDES:</strong>
                                        </p>

                                        <!--Special offer start-->
                                        <ul class="benifits-ulta">
                                            <li style="list-style: none">
                                                <span><svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M15.9579 6.12335C15.8525 5.79938 15.5652 5.57001 15.2266 5.53937L10.6079 5.12006L8.7826 0.846619C8.64784 0.532654 8.3412 0.330017 7.99989 0.330017C7.65858 0.330017 7.35182 0.532654 7.21791 0.846619L5.39259 5.12006L0.773203 5.53937C0.43458 5.57062 0.147837 5.79999 0.0418798 6.12335C-0.0634669 6.44733 0.0338231 6.80267 0.289927 7.02728L3.78126 10.0887L2.75184 14.6226C2.67652 14.956 2.80592 15.3007 3.08253 15.5007C3.23121 15.6087 3.40589 15.6627 3.58119 15.6627C3.73182 15.6627 3.88258 15.6226 4.01722 15.5421L7.99989 13.1607L11.9818 15.5421C12.2739 15.7166 12.6412 15.7006 12.9172 15.5007C13.1939 15.3007 13.3233 14.956 13.2479 14.6226L12.2185 10.0887L15.7098 7.02728C15.9658 6.80267 16.0632 6.44806 15.9579 6.12335Z"
                                                            fill="#97E0C7"></path>
                                                    </svg></span>
                                                <span>Business Contract Templates</span>
                                            </li>
                                            <li style="list-style: none">
                                                <span><svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M15.9579 6.12335C15.8525 5.79938 15.5652 5.57001 15.2266 5.53937L10.6079 5.12006L8.7826 0.846619C8.64784 0.532654 8.3412 0.330017 7.99989 0.330017C7.65858 0.330017 7.35182 0.532654 7.21791 0.846619L5.39259 5.12006L0.773203 5.53937C0.43458 5.57062 0.147837 5.79999 0.0418798 6.12335C-0.0634669 6.44733 0.0338231 6.80267 0.289927 7.02728L3.78126 10.0887L2.75184 14.6226C2.67652 14.956 2.80592 15.3007 3.08253 15.5007C3.23121 15.6087 3.40589 15.6627 3.58119 15.6627C3.73182 15.6627 3.88258 15.6226 4.01722 15.5421L7.99989 13.1607L11.9818 15.5421C12.2739 15.7166 12.6412 15.7006 12.9172 15.5007C13.1939 15.3007 13.3233 14.956 13.2479 14.6226L12.2185 10.0887L15.7098 7.02728C15.9658 6.80267 16.0632 6.44806 15.9579 6.12335Z"
                                                            fill="#97E0C7"></path>
                                                    </svg></span>
                                                <span>Domain Name + Business Email</span>
                                            </li>
                                        </ul>
                                        <!--Special offer end-->

                                        <ul class="benifits-list">
                                            <li>Preparing & Filing the Articles of Organization</li>
                                            <li>FREE Registered Agent Service</li>
                                            <li>Banking Resolution</li>
                                            <li>Business Banking Account & Tax Consultation</li>
                                            <li>Lifetime Company Alerts</li>
                                            <li>unlimited Phone & Email Support</li>
                                        </ul>
                                        <br />
                                    </div>
                                </div>
                            </div>
                            <!----- Platinum card End here ------- -->


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- card end here-->

    </section>

</div>

{% endblock %}