{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}


<!DOCTYPE html>
<html>
<head>
  <title>Thanks for your order!</title>
  <link rel="stylesheet" href="style.css">
  <meta http-equiv="refresh" content="5; url={% url 'bgd_consultancy_app:home' %}">
</head>
<body>

  <div class="container" style="margin-bottom: 100px; margin-top: 250px; text-align: center;">

    <div class="alert alert-warning" role="alert">
      <b>Payment Successfully Complete!</b>
    </div>

  </div>
  

</body>
</html>

{% endblock %}